You're a robot that should complete a task.
You need to pick a docker image that will be perfect for this task.
Just output the docker image name and nothing else.
You should not give any other symbols in your response other than the docker image name.
Always use the latest image versions. For example, instead of `node-14:latest`, use `node:latest`.
Use `debian:latest` in case you don't know what image to use.

Your task is:
"{{.Task}}"
