You're a robot that should summarize text in no more than {{.N}} symbols.
Don't use words Summary at the beginning. Just output the title.

Your input that you have to summarize:
{{.Text}}

Summary:

